
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.specpop {
  width: 100%;
  height: rems(920);
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999999999;
  .head {
    width: 100%;
    height: rems(170);
    display: flex;
    .pic {
      height: rems(184);
      background: url('../../img/bkg_cover.jpg');
      width: rems(184);
      margin-left: rems(32);
      overflow: hidden;
      margin-top: rems(-66);
      border-radius: rems(8);
      border: rems(2) solid rgba(230, 152, 136, 1);
      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
    .r {
      display: flex;
      flex-direction: column;
      padding-left: rems(42);
      margin-top: rems(40);
      max-width: rems(500);
      line-height: rems(36);
      .priceee {
        font-size: rems(40);
        color: #FC8B76;
        margin-bottom: rems(6);
      }
      span {
        font-size: rems(24);
        color: #666464;
      }
    }
  }
  .con {
    width: 100%;
    padding: 0 rems(30);
    .item {
      width: 100%;
      border-bottom: rems(2) solid #e6e6e6;
      padding-bottom: rems(24);
      display: flex;
      flex-direction: column;
      margin-bottom: rems(10);
      .tit {
        color: #666464;
        font-size: rems(20);
      }
      .con {
        width: 100%;
        margin-top: rems(10);
        padding: 0;
        // display: flex;
        line-height: rems(0); 
        margin-left: rems(-16);
        div {
          display: flex;
          justify-content: center;
          align-items: center;
          line-height: rems(40); 
          float: left;
          margin: rems(4) rems(16);
          font-size: rems(24);
          color: #666464;
          padding: 0 rems(15); 
          border-radius: rems(8);
          border: rems(1) solid rgba(102,100,100,1);
          &.select {
            color: #fff;
            background-color: rgba(102,100,100,1);
          }
        }

      }
    }
    .nn {
      width: 100%;
      height: rems(70);
      font-size: rems(24);
      display: flex;
      
      justify-content: space-between;
      align-items: center;
      border-bottom: rems(2) solid #e6e6e6;
      .tit {
        color: #666464;
        font-size: rems(20);
      }
      .numbox {
        border-radius: rems(8);
        background-color: #fff;
        div {
          padding: 0 rems(20);
          float: left;
          line-height: rems(40);
          img {
            width: rems(18);
            height: rems(18);
          }
        }
        .num {
          box-sizing: border-box;
          border-top: rems(2) solid rgba(102,100,100,1);
          border-bottom: rems(2) solid rgba(102,100,100,1);
        }
        .countt {
          background-color: #427161;
          border-radius: rems(8) 0 0 rems(8);border-top: rems(2) solid rgba(102,100,100,1);
          border-bottom: rems(2) solid rgba(102,100,100,1);
        
        }
        .countp {
          border-radius: 0 rems(8) rems(8) 0;border-top: rems(2) solid rgba(102,100,100,1);
          border-bottom: rems(2) solid rgba(102,100,100,1);
          background-color: #427161;
        }
      }
    }
  }
}

.foot {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: rems(13);
  display: flex;
  justify-content: center;
  div {
    width: rems(345);
    height: rems(70);
    font-size:rems(24);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    &:nth-child(1) {
      background-color: #FAA696;
      border-radius: rems(35) 0 0 rems(35);
    }
    &:nth-child(2) {
      background-color: #FC8B76;
      border-radius: 0 rems(35) rems(35) 0;
    }
  }
}
.buy{
  border-radius: rems(35) !important;
  width: 60% !important;
}

.foot .gbb {
  width: rems(562);
  height: rems(70);
  font-size: rems(32);
  color: #fff;
  border-radius: rems(35);
  background-color: #F5AC9E;
}
.foot .zjm {
  width: rems(562);
  height: rems(70);
  font-size: rems(32);
  color: #F5AC9E;
  border-radius: rems(35);
  border: rems(2) solid #F5AC9E;
}